$phoneSubHeading: hsl(276, 100%, 81%);
$chatBoxLeft: hsl(276, 55%, 52%);
$chatBoxRight: hsl(271, 15%, 43%);
$typePlaceholder: hsl(206, 6%, 79%);
$mainHeading: hsl(271, 36%, 24%);
$paragraph: hsl(270, 7%, 64%);

$lightMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);

$subHeadingGradient: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%) 70%);
$chatGradient: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
$violet-oval-gradient: linear-gradient(230deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%)50%);

$rubik-weight: ("regular": 400,
    "medium": 500,
    "bold": 700);


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex($justifyContent, $alignItems, $direction) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $direction;
}

body {
    font-family: 'Rubik', sans-serif;
    position: relative;
    font-size: 16px;
    max-width: 1440px;
    margin: 0 auto;
}

.load-icon-container {
    @include flex(center, center, column);
    background-image: $violet-oval-gradient;
    min-width: 100%;
    min-height: 110%;
    position: fixed;
    z-index: 100;
    pointer-events: none;

    img {
        animation: loadingIcon linear 2s infinite;
    }

    p {
        font-size: 18px;
        color: white;
        transform: translate(5px, 1em);
        position: relative;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: white;
            bottom: -5px;
            left: 0;
            right: 0;
            transform: scale(0);
            transform-origin: left;         
            animation: loadingLine linear 700ms infinite alternate-reverse;
        }

        &:hover::before {
            transform: scale(1);
            transform-origin: right;
        }

        @keyframes loadingLine {
            0% {
                transform: scale(0);

            } 100% {
                transform: scale(1);
            }
        }
    }
}

@keyframes loadingIcon {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.violet-oval-bg {
    display: inline-block;
    position: absolute;
    margin-top: 0;
    z-index: -1;
    height: 700px;
    width: 500px;
    background-image: $violet-oval-gradient;
    border-radius: 0 0 20em 20em;
    top: -18%;
    right: 50%;
}

// AVATAR
.phone-container {
    padding: 1em;
    background-color: white;
    border-radius: 2.5em;
    box-shadow: rgba(73, 73, 73, 0.24) 1em 1.5em 3em;
    position: relative;
    width: 300px;
    max-width: 450px;
    margin: -2em auto -5em;
    transform: scale(.75, .7);

    .phone-rectangle-oval {
        background-color: white;
        border-radius: 1.5em;
        height: 2.5rem;
        width: 60%;
        position: absolute;
        z-index: 5;
        transform: translate(-50%, -1em);
        left: 50%;
    }

    .phone-screen {
        border-radius: 1.5em;
        background-color: rgb(240, 240, 240);
        overflow: hidden;
    }
}

.avatar-container {
    @include flex(space-between, center, row);
    background-image: $subHeadingGradient;
    border-radius: 0 0 .7em .7em;
    box-shadow: rgba(211, 211, 211, 0.24) 0 0em 1em;
    padding: 2.5em 1em 1em;

    .avatar {
        @include flex(space-between, center, row);

        .avatar-arrow-icon {
            color: white;
            font-size: 15px;
            transform: scaleX(.6);
        }

        img {
            width: 35px;
            border: 2px solid white;
            border-radius: 50%;
            margin-inline: .5em .8em;
        }

        .avatar-name {
            color: white;
            font-size: 15px;
        }

        p {
            color: $paragraph;
            font-size: 11px;
            line-height: 1.4;
        }
    }
}

.avatar-hamburger-container a {
    position: relative;

    .avatar-hamburger {
        display: inline-block;
        position: relative;
        height: 2px;
        width: 2px;
        background-color: white;
        border-radius: 50%;

        &::before,
        &::after {
            background-color: white;
            border-radius: 50%;
            content: "";
            display: inline-block;
            position: absolute;
            height: 100%;
            width: 100%;
        }

        &::before {
            top: 4px;
        }

        &::after {
            bottom: 4px;
        }
    }
}

// CHAT
.chat-container {
    padding: 1em;

    .chat-msg {
        max-width: 75%;
        padding: 1em;
        font-size: 11px;
    }

    .chat-msg~.chat-msg,
    .chat-picture-container,
    .colored-chat-msg,
    .type-message-container {
        margin-top: 1em;
    }

    .chat-msg-left {
        background-color: rgb(223, 223, 223);
        border-radius: 1em 1em 1em .5em;
        color: $chatBoxLeft;
        margin-right: auto;
        transform-origin: left bottom;
    }

    .chat-msg-right {
        background-color: white;
        border-radius: 1em 1em .5em 1em;
        box-shadow: rgba(116, 116, 116, 0.199) 0 .5em 1em;
        color: $chatBoxRight;
        margin-left: auto;
        transform-origin: right bottom;
    }

    .chat-picture-container {
        @include flex(space-around, center, row);
        max-width: 65%;
        margin-left: auto;

        img {
            border-radius: .8em;
            width: 100%;
            max-width: 50px;
        }
    }

    .chat-animate {
        transform-origin: left bottom;
    }

    .colored-chat-msg {
        background-image: $chatGradient;
        border-radius: 1em 1em 1em .5em;
        @include flex(space-between, center, row);
        padding: 1em;
        color: white;
        max-width: 85%;


        p {
            font-size: 11px;
        }

        i {
            margin-right: .5em;
        }

        .colored-dollar {
            margin-left: auto;
            font-size: 16px;
            font-weight: map-get($rubik-weight, bold);
        }
    }

    .type-message-container {
        background-color: white;
        border-radius: 1.5em;
        @include flex(space-between, center, row);
        padding: .5em 1em;
        margin-top: 2em;
        font-size: 11px;

        .type-message-arrow-icon {
            font-size: 26px;
            color: $mainHeading;
        }

        .type-message-placeholder {
            color: $typePlaceholder;
            margin-left: 1em;
        }
    }
}

.simple-booking-container {
    text-align: center;
    margin-bottom: 2em;

    h1 {
        color: $mainHeading;
        font-weight: map-get($rubik-weight, medium);
        margin-block: 1em;
    }

    p {
        width: 75%;
        margin: 0 auto;
        line-height: 1.6;
        color: $paragraph;
        font-size: 15px;
    }
}

$desktop-breakpoint: 1000px;

@media (min-width: $desktop-breakpoint) {
    main {
        @include flex(center, center, row);
        height: 100%;
    }

    .load-icon-container {
        min-height: 100%;
    }

    .violet-oval-bg {
        $violet-oval-gradient: linear-gradient(230deg, hsl(293, 100%, 63%), hsl(264, 100%, 61%)50%);
        height: 800px;
        width: 500px;
        background-image: $violet-oval-gradient;
        border-radius: 0 0 20em 20em;
        bottom: 5%;
        left: -5%;
        right: 1000px;
    }

    .phone-container {
        margin: 0;
    }

    .simple-booking-container {
        text-align: left;
        margin-left: 2em;

        p {
            width: 43ch;
            margin: revert;
        }
    }
}